# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# SQLite Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# IDEs and Editors
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Operating System Files
# =========================
Thumbs.db
Desktop.ini
.DS_Store